@-webkit-keyframes translation {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%);
  }
}
@-moz-keyframes translation {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%);
  }
}
@-ms-keyframes translation {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%);
  }
}
@-o-keyframes translation {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%);
  }
}
@keyframes translation {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%);
  }
}
@-webkit-keyframes translationb {
  0% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(0);
  }
}
@-moz-keyframes translationb {
  0% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(0);
  }
}
@-ms-keyframes translationb {
  0% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(0);
  }
}
@-o-keyframes translationb {
  0% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes translationb {
  0% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(0);
  }
}
/* line 41, ../sass/styles.scss */
body {
  font-family: 'Open Sans', sans-serif;
  min-height: 100%;
  color: #fff;
  font-size: 20px;
}

/* line 47, ../sass/styles.scss */
.cf:after {
  content: ".";
  clear: both;
  display: block;
  height: 0;
  font-size: 0;
  visibility: hidden;
}

/* line 55, ../sass/styles.scss */
.main-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-image: url("../img/mainbg.png");
  background-attachment: fixed;
}

/* line 63, ../sass/styles.scss */
.text-wrapper {
  position: relative;
  width: 80%;
  margin: 0 auto;
}

/* line 68, ../sass/styles.scss */
.content-about {
  text-align: center;
  width: 100%;
  margin-bottom: 45px;
}
/* line 73, ../sass/styles.scss */
.content-about .about-title {
  font-size: 35px;
  font-weight: bold;
  margin: 20px auto 10px;
}
/* line 78, ../sass/styles.scss */
.content-about .about-subtitle {
  font-size: 32px;
  font-weight: 600;
}
/* line 82, ../sass/styles.scss */
.content-about .about-text {
  font-size: 23px;
  font-style: italic;
  line-height: 25px;
}

/* line 88, ../sass/styles.scss */
.content-description {
  width: 100%;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  padding: 0 15px 25px 0;
}
/* line 94, ../sass/styles.scss */
.content-description .description-title {
  font-size: 30px;
  font-weight: 600;
  font-style: italic;
  margin: 25px 0 10px 20px;
}
/* line 101, ../sass/styles.scss */
.content-description .description-text {
  font-size: 28px;
  line-height: 30px;
}

/* line 106, ../sass/styles.scss */
.content-category {
  width: 100%;
}
/* line 108, ../sass/styles.scss */
.content-category .category-wrapper {
  width: 90%;
  margin: 0 auto;
}
/* line 112, ../sass/styles.scss */
.content-category .category-wrapper .category {
  display: block;
  text-decoration: none;
  color: #fff;
  margin-top: 100px;
  min-height: 600px;
  position: relative;
  z-index: 2;
  width: 30%;
  max-width: 320px;
  text-align: center;
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.4) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(255, 255, 255, 0.4)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.4) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.4) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.4) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.4) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#80ffffff',GradientType=0 );
  /* IE6-9 */
}
/* line 131, ../sass/styles.scss */
.content-category .category-wrapper .category .category-title {
  font-size: 45px;
}
/* line 134, ../sass/styles.scss */
.content-category .category-wrapper .category .category-subtitle {
  font-size: 30px;
  font-weight: 300;
}
/* line 138, ../sass/styles.scss */
.content-category .category-wrapper .category .category-text {
  line-height: 25px;
  text-align: justify;
  word-break: break-word;
  margin: 10px 20px 0;
}
/* line 145, ../sass/styles.scss */
.content-category .category-wrapper .category-discover {
  float: left;
}
/* line 148, ../sass/styles.scss */
.content-category .category-wrapper .category-fans {
  position: absolute;
  left: calc(50% - 160px);
}
/* line 152, ../sass/styles.scss */
.content-category .category-wrapper .category-artist {
  float: right;
}

/* line 158, ../sass/styles.scss */
.layer {
  z-index: 5;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  -webkit-transition: -webkit-transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
  transition: transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
}

/* line 172, ../sass/styles.scss */
.layer-discover {
  background-image: url("../img/discover-bg.jpg");
  background-size: 100% 100%;
}
/* line 176, ../sass/styles.scss */
.layer-discover .project-static {
  padding-top: 25% !important;
}
/* line 179, ../sass/styles.scss */
.layer-discover .project:hover {
  -webkit-animation: none;
  -moz-animation: none;
  -ms-animation: none;
  -o-animation: none;
  animation: none;
  -ms-transform: translateY(0);
  /* IE 9 */
  -webkit-transform: translateY(0);
  /* Chrome, Safari, Opera */
  transform: translateY(0);
}

/* line 191, ../sass/styles.scss */
.layer-fans {
  background-image: url("../img/fans-bg.jpg");
}

/* line 194, ../sass/styles.scss */
.layer-artist {
  background-image: url("../img/artist-bg.jpg");
}

/* line 198, ../sass/styles.scss */
.layer-discover.active,
.layer-fans.active,
.layer-artist.active {
  visibility: visible;
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
  transition: transform 0.4s, opacity 0.4s;
}

/* line 208, ../sass/styles.scss */
.layer-hide {
  display: block;
  width: 62px;
  height: 62px;
  border: 4px solid #fff;
  border-radius: 35px;
  position: absolute;
  top: 75px;
  right: 65px;
  background-color: rgba(255, 255, 255, 0);
  background-image: url("../img/hide-img.png");
  background-repeat: no-repeat;
  background-position: 15px 15px;
  -webkit-transition: background-color 300ms ease-in-out;
  -moz-transition: background-color 300ms ease-in-out;
  -ms-transition: background-color 300ms ease-in-out;
  -o-transition: background-color 300ms ease-in-out;
  transition: background-color 300ms ease-in-out;
  z-index: 5;
}
/* line 228, ../sass/styles.scss */
.layer-hide:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

/* line 232, ../sass/styles.scss */
.project-wrapper {
  height: 100%;
  overflow: hidden;
}

/* line 236, ../sass/styles.scss */
.project {
  text-align: center;
  width: 33.3%;
  float: right;
  min-height: 100%;
  height: 200%;
  zoom: 1;
  -ms-transform: translateY(0);
  /* IE 9 */
  -webkit-transform: translateY(0);
  /* Chrome, Safari, Opera */
  transform: translateY(0);
}
/* line 247, ../sass/styles.scss */
.project:hover {
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
  -webkit-animation: translation 1.5s ease-in-out;
  -moz-animation: translation 1.5s ease-in-out;
  -ms-animation: translation 1.5s ease-in-out;
  -o-animation: translation 1.5s ease-in-out;
  animation: translation 1.5s ease-in-out;
  -ms-transform: translateY(-50%);
  /* IE 9 */
  -webkit-transform: translateY(-50%);
  /* Chrome, Safari, Opera */
  transform: translateY(-50%);
}
/* line 259, ../sass/styles.scss */
.project .project-static {
  height: 100%;
  padding-top: 50%;
}
/* line 263, ../sass/styles.scss */
.project .project-static > img {
  display: block;
  margin: 0 auto 10px;
}
/* line 267, ../sass/styles.scss */
.project .project-static .project-title {
  font-size: 75px;
  padding: 0 40px 15px;
}
/* line 271, ../sass/styles.scss */
.project .project-static .project-text {
  line-height: 30px;
  font-size: 25px;
  text-align: justify;
  word-break: break-word;
  padding: 0 100px;
}
/* line 280, ../sass/styles.scss */
.project .project-animate {
  height: 100%;
  padding-top: 80%;
  padding-bottom: 120%;
}
/* line 286, ../sass/styles.scss */
.project .project-animate > img {
  width: 30%;
  display: block;
  margin: 0 auto 10px;
}
/* line 291, ../sass/styles.scss */
.project .project-animate .project-title {
  font-size: 45px;
  padding: 0 40px 15px;
}
/* line 295, ../sass/styles.scss */
.project .project-animate .project-text {
  line-height: 30px;
  font-size: 25px;
  text-align: justify;
  word-break: break-word;
  padding: 0 100px;
}
